doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Smart App
		link(href="scss/style.css" rel="stylesheet")
	body
		div.container
			// begin "header"
			div.header
				// begin "logo"
				div.logo
					a.logo__link(href="#")
						div.logo__title Smart App
						div.logo__subtitle Free PSD Website Template
				// end of "logo"
				// begin "header-nav"
				div.header-nav
					ul.header-nav__list
						li.header-nav__item: a.header-nav__link(href="#") Home
						li.header-nav__item: a.header-nav__link(href="#") Style Demo
						li.header-nav__item: a.header-nav__link(href="#") Full Width
						li.header-nav__item: a.header-nav__link(href="#") Dropdown
						li.header-nav__item: a.header-nav__link(href="#") Gallery
				// end of "header-nav"
			// end of "header"
			// begin "featured"
			div.featured
				h1.featured__title Cursus penati saccum.
				p.featured__subtitle This is a W3C standards compliant free PSD website template from OS Templates. This template is distributed using a Website Template Licence. For more free PSD templates visit <a class="featured__subtitle_link" href="#">OS-Templates.com</a>
				a.featured__btn-store(href="#") NOW AVAILABLE IN<br>THE APP STORE
				img.featured__promo-img(src="i/promo.png" alt="Promo")
			// end of "featured"
			// begin "content"
			div.content
				// begin "top-features"
				div.top-features
					ul.top-features__list
						li.top-features__item
							div.top-features__item-title FEATURE 4
							div.top-features__item-subtitle Justoid nonummy<br>laoreet phasellent<br>penatoque in
						li.top-features__item
							div.top-features__item-title FEATURE 4
							div.top-features__item-subtitle Justoid nonummy<br>laoreet phasellent<br>penatoque in
						li.top-features__item
							div.top-features__item-title FEATURE 4
							div.top-features__item-subtitle Justoid nonummy<br>laoreet phasellent<br>penatoque in
						li.top-features__item
							div.top-features__item-title FEATURE 4
							div.top-features__item-subtitle Justoid nonummy<br>laoreet phasellent<br>penatoque in
				// end of "top-features"
				// begin "benefits"
				div.benefits
					ul.benefits__list
						li.benefits__item
							a.benefits__link(href="#") Benefit Title Here
							p.benefits__subtitle Inteligula congue id elis donec sce sagittis intes id laoreet aenean. Massawisicondisse leo sem ac.
						li.benefits__item
							a.benefits__link(href="#") Benefit Title Here
							p.benefits__subtitle Inteligula congue id elis donec sce sagittis intes id laoreet aenean. Massawisicondisse leo sem ac.
						li.benefits__item
							a.benefits__link(href="#") Benefit Title Here
							p.benefits__subtitle Inteligula congue id elis donec sce sagittis intes id laoreet aenean. Massawisicondisse leo sem ac.
						li.benefits__item
							a.benefits__link(href="#") Benefit Title Here
							p.benefits__subtitle Inteligula congue id elis donec sce sagittis intes id laoreet aenean. Massawisicondisse leo sem ac.
						li.benefits__item
							a.benefits__link(href="#") Benefit Title Here
							p.benefits__subtitle Inteligula congue id elis donec sce sagittis intes id laoreet aenean. Massawisicondisse leo sem ac.
						li.benefits__item
							a.benefits__link(href="#") Benefit Title Here
							p.benefits__subtitle Inteligula congue id elis donec sce sagittis intes id laoreet aenean. Massawisicondisse leo sem ac.
						li.benefits__item
							a.benefits__link(href="#") Benefit Title Here
							p.benefits__subtitle Inteligula congue id elis donec sce sagittis intes id laoreet aenean. Massawisicondisse leo sem ac.
						li.benefits__item
							a.benefits__link(href="#") Benefit Title Here
							p.benefits__subtitle Inteligula congue id elis donec sce sagittis intes id laoreet aenean. Massawisicondisse leo sem ac.
				// end of "benefits"
				// begin "slider"
				div.slider
					a.slider__arrow.slider__arrow_left(href="#")
					a.slider__arrow.slider__arrow_right(href="#")
					div.slider__content
						h4.slider__title SUBSCRIBE
						h5.slider__subtitle Dont Miss Our Lates Offers &amp; Promotions
					form.slider__form(action="#", method="post")
						input(type="email", name="email", id="you_email", placeholder="Enter Your Email Here")
						input(type="button", value="SIGN UP")
				// end of "slider"
			// end of "content"
			// begin "footer"
			div.footer
				// begin "blog"
				div.blog
					h4.blog__title FROM THE BLOG
					h5.blog__subtitle Blog Post Title
					div.blog__subtitle_date Posted by Admin on 00.00.0000
					p.blog__mini-post Vestibulumaccumsan egestibulum eu justo convallis augue estas aenean elit intesque sed. Facilispede estibulum nulla orna nisl velit elit ac aliquat non tincidunt. Namjusto cras urna urnaretra lor urna neque sed quis orci nulla. Laoremut vitae doloreet.
					a.blog__link(href="#") Read More &raquo;
				// end of "blog"
				// begin "quicklinks"
				div.quicklinks
					h4.quicklinks__title QUICK LINKS
					ul.quicklinks__list
						li.quicklinks__item
							a.quicklinks__link(href="#") Link Text Here
						li.quicklinks__item
							a.quicklinks__link(href="#") Link Text Here
						li.quicklinks__item
							a.quicklinks__link(href="#") Link Text Here
						li.quicklinks__item
							a.quicklinks__link(href="#") Link Text Here
						li.quicklinks__item
							a.quicklinks__link(href="#") Link Text Here
						li.quicklinks__item
							a.quicklinks__link(href="#") Link Text Here
				// end of "quicklinks"
				// begin contact
				div.contact
					h4.contact__title CONTACT US
					h6.contact__company Company Name<br>Street Name &amp; Number<br>Town<br>Postcode/Zip
					h6.contact__tel Tel:<br>xxxxx xxxxxxxxxx
					h6.contact__fax Fax:<br>xxxxx xxxxxxxxxx
					h6.contact__mail Email:<a class="contact__mail_link" href="mailto:contact@mydomain.com">contact@mydomain.com</a>
				// end of "contact"
				// begin "social"
				div.social
					h4.social__title SOCIALISE
					ul.social__list
						li.social__item: a.social__link.social__link_fb(href="#") Facebook
						li.social__item: a.social__link.social__link_twitter(href="#") Twitter
						li.social__item: a.social__link.social__link_flikr(href="#") Photos on Flickr
						li.social__item: a.social__link.social__link_rss(href="#") RSS Feed
				// end of "social"
				// begin copyright
				div.copyright
					span.copyright__domain Copyright © 2013 Domain Name - All Rights Reserved
					span.copyright__template Template by OS Templates
				// end of "copyright"
			// end of "footer"
		// end of "container"